org.neontoolkit.io/oxml2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Dirk (none) -->
<xsd:schema targetNamespace="http://schema.ontoprise.com/oxml/core/2.0" xmlns="http://schema.ontoprise.com/oxml/core/2.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:element name="ontology" type="ontologyType">
		<xsd:annotation>
			<xsd:documentation>
This is OXML 2.0 h.
	MER 2001-10-07
todo:
	- key and keyref definitions (if possible)
last changes:
	- added processor-attribute to ModuleType and changed its ID to QName
OXML 2.0 g:	
	- only for internal purposes
changes in OXML 2.0 f:	
	- added algebraic properties to (binary) predicates
changes in OXML 2.0 epsilon:	
	- removed xml:lang-attribute and renamed it to language with xsd:string as range
	- multiple paramtertypes are possible in relation definitions (now sublement paramter instead of attribute)
	- multiple paramters may be given for instance relations and attributes (sublement paramter)
	- added PredicateInstanceType
changes in OXML 2.0 delta:
	- renamed attributes of importOntology-Element from "ontologyTitle" to "title" etc.
	- removed domain concept attributes from elements that refer to relations, such as inverseOf or subrelationOf (cf. datamodel)
	- changed @instantiation-Attribute of concept to @abstract of type boolean (default = false)
	- added rootRelation and rootConcept-attributes to ontology
	- changed xsd-anySimpleType to xsd:anySimpleType ??? now xsd:string (in default/@value and hasAttribute/@value) , because Xerces 1.4 does not support it
	- altered the parameter handling in instances and relations, i.e. at most one parameter may be present (now as an attribute value @parameter, resp. @parameterType)
changes in OXML 2.0 gamma:
	- added predicate-element
	- moved special-axiom-properties of concepts and releations (from axiom-element) directly to their definitions
changes in OXML 2.0 beta:
	- added import-sections to refer to used ontologies
	- modularization mechanism: CORE-module-Element with attributes and ANY-##other-content
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="topLevelType">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="documentation" type="multiLingualTextType"/>
			<xsd:element name="externalRepresentation" type="multiLingualTextType"/>
			<xsd:element name="metaRelation">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="relation" type="relationID" use="required"/>
							<xsd:attribute name="value" type="xsd:string" use="optional"/>
							<xsd:attribute name="instance" type="instanceID" use="optional"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:choice>
		<xsd:attribute name="systemRepresentation" type="xsd:string" use="optional">
			<xsd:annotation>
				<xsd:documentation>reserved, not currently used</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="baseUri" type="xsd:anyURI" use="optional">
			<xsd:annotation>
				<xsd:documentation>reserved, not currently used</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="ontologyType">
		<xsd:complexContent>
			<xsd:extension base="topLevelType">
				<xsd:sequence>
					<xsd:element name="about" type="aboutType" minOccurs="0"/>
					<xsd:element name="import" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:attribute name="title" type="xsd:string" use="optional"/>
							<xsd:attribute name="ontology" type="ontologyID" use="required"/>
							<xsd:attribute name="version" type="xsd:string" use="optional"/>
							<xsd:attribute name="location" type="xsd:anyURI" use="optional"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="concept" type="conceptType"/>
						<xsd:element name="relation" type="relationType"/>
						<xsd:element name="instance" type="instanceType"/>
						<xsd:element name="axiom" type="axiomType"/>
						<xsd:element name="predicate" type="predicateType"/>
						<xsd:element name="predicateInstance" type="predicateInstanceType"/>
						<xsd:element name="module" type="moduleType"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="rootConcept" type="conceptID" use="optional"/>
				<xsd:attribute name="rootRelation" type="relationID" use="optional"/>
				<xsd:attribute name="id" type="ontologyID" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="conceptType">
		<xsd:complexContent>
			<xsd:extension base="topLevelType">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element name="subConceptOf">
						<xsd:complexType>
							<xsd:attribute name="concept" type="conceptID" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="disjointWith">
						<xsd:complexType>
							<xsd:attribute name="concept" type="conceptID" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="relation">
						<xsd:annotation>
							<xsd:documentation>restricts the global relationType, i.e. prohibits the use of the domain attribute 
???change in final version</xsd:documentation>
						</xsd:annotation>
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="relationType"/>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:attribute name="abstract" type="xsd:boolean" default="false"/>
				<xsd:attribute name="id" type="conceptID" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="relationType">
		<xsd:complexContent>
			<xsd:extension base="topLevelType">
				<xsd:sequence>
					<xsd:element name="default" minOccurs="0">
						<xsd:complexType mixed="true">
							<xsd:sequence>
								<xsd:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
							</xsd:sequence>
							<xsd:attribute name="value" type="xsd:string" use="optional"/>
							<xsd:attribute name="instance" type="instanceID" use="optional"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:choice minOccurs="0" maxOccurs="unbounded">
						<xsd:element name="subRelationOf">
							<xsd:complexType>
								<xsd:attribute name="relation" type="relationID" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="algebraicProperty">
							<xsd:complexType>
								<xsd:attribute name="property" type="algebraicPropertyType" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="inverseRelationOf">
							<xsd:complexType>
								<xsd:attribute name="relation" type="relationID" use="required"/>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="composedOf">
							<xsd:complexType>
								<xsd:all>
									<xsd:element name="firstRelation">
										<xsd:complexType>
											<xsd:attribute name="relation" type="relationID" use="required"/>
											<xsd:attribute name="domain" type="conceptID" use="required"/>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="secondRelation">
										<xsd:complexType>
											<xsd:attribute name="relation" type="relationID" use="required"/>
											<xsd:attribute name="domain" type="conceptID" use="required"/>
										</xsd:complexType>
									</xsd:element>
								</xsd:all>
							</xsd:complexType>
						</xsd:element>
						<xsd:element name="parameter">
							<xsd:complexType>
								<xsd:attribute name="type" type="conceptID" use="required"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="domain" type="conceptID" use="optional"/>
				<xsd:attribute name="range" type="conceptID" use="optional"/>
				<xsd:attribute name="minCard" type="cardinalityType" use="optional"/>
				<xsd:attribute name="maxCard" type="cardinalityType" use="optional"/>
				<xsd:attribute name="id" type="relationID" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="instanceType">
		<xsd:complexContent>
			<xsd:extension base="topLevelType">
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element name="instanceOf">
						<xsd:complexType>
							<xsd:attribute name="concept" type="conceptID" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="hasRelation">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="parameter" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:attribute name="value" type="xsd:string" use="optional"/>
										<xsd:attribute name="instance" type="instanceID" use="optional"/>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="relation" type="relationID" use="required"/>
							<xsd:attribute name="instance" type="instanceID" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="hasAttribute">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="value" minOccurs="0"/>
								<xsd:element name="parameter" minOccurs="0" maxOccurs="unbounded">
									<xsd:complexType>
										<xsd:attribute name="value" type="xsd:string" use="optional"/>
										<xsd:attribute name="instance" type="instanceID" use="optional"/>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
							<xsd:attribute name="relation" type="relationID" use="required"/>
							<xsd:attribute name="value" type="xsd:string" use="optional"/>
							<xsd:attribute name="range" type="conceptID" use="optional"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:choice>
				<xsd:attribute name="id" type="instanceID" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="axiomType">
		<xsd:complexContent>
			<xsd:extension base="topLevelType">
				<xsd:sequence>
					<xsd:element name="text" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:simpleContent>
								<xsd:extension base="xsd:string">
									<xsd:attribute name="language" type="xsd:string" default="flogic"/>
								</xsd:extension>
							</xsd:simpleContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="enabled" type="xsd:boolean" default="true"/>
				<xsd:attribute name="id" type="axiomID" use="required"/>
				<xsd:attribute name="type" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="predicateType">
		<xsd:complexContent>
			<xsd:extension base="topLevelType">
				<xsd:sequence>
					<xsd:element name="type" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:attribute name="concept" type="conceptID" use="required"/>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="algebraicProperty" minOccurs="0" maxOccurs="unbounded">
						<xsd:complexType>
							<xsd:attribute name="property" type="algebraicPropertyType" use="required"/>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="arity" type="xsd:nonNegativeInteger" use="required"/>
				<xsd:attribute name="id" type="predicateID" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="predicateInstanceType">
		<xsd:sequence>
			<xsd:element name="argument" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="instance" type="instanceID" use="optional"/>
							<xsd:attribute name="value" type="xsd:string" use="optional"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="predicate" type="predicateID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="moduleType">
		<xsd:complexContent>
			<xsd:extension base="topLevelType">
				<xsd:sequence>
					<xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="version" type="xsd:string" use="optional"/>
				<xsd:attribute name="title" type="xsd:string" use="optional"/>
				<xsd:attribute name="id" type="moduleID" use="required"/>
				<xsd:attribute name="processor" type="xsd:string" use="required">
					<xsd:annotation>
						<xsd:documentation source="This attribute should be unique. I.e. only one module with this processor should exist." xml:lang="en"/>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!--### What follows are Helper-Types. ################################################# -->
	<xsd:complexType name="aboutType">
		<xsd:sequence>
			<xsd:element name="title" type="xsd:string" minOccurs="0"/>
			<xsd:element name="version" type="xsd:string" minOccurs="0"/>
			<xsd:element name="domain" type="xsd:string" minOccurs="0"/>
			<xsd:element name="applicationArea" type="xsd:string" minOccurs="0"/>
			<xsd:element name="creationDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="lastModificationDate" type="xsd:dateTime" minOccurs="0"/>
			<xsd:element name="developer" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:all>
						<xsd:element name="name" type="xsd:string" minOccurs="0"/>
						<xsd:element name="email" type="xsd:string" minOccurs="0"/>
						<xsd:element name="address" type="xsd:string" minOccurs="0"/>
						<xsd:element name="www" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:anyURI">
									<xsd:whiteSpace value="collapse"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:all>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="relatedOntology" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="xsd:string">
							<xsd:attribute name="ontology" type="ontologyID" use="optional"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="source" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="figures" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="numberOfConcepts" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:nonNegativeInteger">
									<xsd:whiteSpace value="collapse"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="numberOfRelations" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:nonNegativeInteger">
									<xsd:whiteSpace value="collapse"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="numberOfInstances" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:nonNegativeInteger">
									<xsd:whiteSpace value="collapse"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="numberOfAxioms" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:nonNegativeInteger">
									<xsd:whiteSpace value="collapse"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="numberOfPredicates" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:nonNegativeInteger">
									<xsd:whiteSpace value="collapse"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="numberOfModules" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:nonNegativeInteger">
									<xsd:whiteSpace value="collapse"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="highestConceptDepth" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:float">
									<xsd:whiteSpace value="collapse"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
						<xsd:element name="averageConceptDepth" minOccurs="0">
							<xsd:simpleType>
								<xsd:restriction base="xsd:float">
									<xsd:whiteSpace value="collapse"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="multiLingualTextType">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="language" type="xsd:string" default="en"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="cardinalityType">
		<xsd:annotation>
			<xsd:documentation>Used for mincard and maxcard in domain and range restrictions.
			0, 1, n, m, 100, * etc. are valid.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]+|\*|n|m"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="algebraicPropertyType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="symmetric"/>
			<xsd:enumeration value="reflexive"/>
			<xsd:enumeration value="transitive"/>
			<xsd:enumeration value="antisymmetric"/>
			<xsd:enumeration value="asymmetric"/>
			<xsd:enumeration value="irreflexive"/>
			<xsd:enumeration value="intransitive"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--### The following simple types ending with "idType" represent unique names for certain types of top level entities of an ontology. ################################################# -->
	<xsd:simpleType name="idType">
		<xsd:annotation>
			<xsd:documentation>
				An ID identifies each entity in the ontology globally uniquely, 
				esp. relations and concepts etc. may not have the same ID. 
				An ID is a QName, i.e. namespace-prefix + colon + local-name.
				Similar to RDF-resources.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:QName"/>
	</xsd:simpleType>
	<xsd:simpleType name="ontologyID">
		<xsd:annotation>
			<xsd:documentation>Should be a subtype of idType, but ontologies actually consist only of a namespace without a local part.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:anyURI"/>
	</xsd:simpleType>
	<xsd:simpleType name="conceptID">
		<xsd:annotation>
			<xsd:documentation>Used for concept-entities.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="idType"/>
	</xsd:simpleType>
	<xsd:simpleType name="relationID">
		<xsd:annotation>
			<xsd:documentation>Used for relation-entities -- global and local.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="idType"/>
	</xsd:simpleType>
	<xsd:simpleType name="instanceID">
		<xsd:annotation>
			<xsd:documentation>Used for instances-entities.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="idType"/>
	</xsd:simpleType>
	<xsd:simpleType name="axiomID">
		<xsd:annotation>
			<xsd:documentation>Used for axiom-entities (now only general axioms).</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="idType"/>
	</xsd:simpleType>
	<xsd:simpleType name="predicateID">
		<xsd:annotation>
			<xsd:documentation>Used for predicates.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="idType"/>
	</xsd:simpleType>
	<xsd:simpleType name="moduleID">
		<xsd:restriction base="idType"/>
	</xsd:simpleType>
</xsd:schema>
